<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <authentication>
      <patch:attribute name="defaultProvider">switcher</patch:attribute>
      <providers>
        <add name="switcher" type="Sitecore.Foundation.ClaimsSecurity.Authentication.SwitchingProvider.SwitchingAuthenticationProviderExtension, Sitecore.Foundation.ClaimsSecurity" patch:after="processor[@type='Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel']" domainMap="switchingProviders/authentication" />
        <add name="claims" type="Sitecore.Foundation.ClaimsSecurity.Authentication.Provider.ClaimsAuthenticationProvider, Sitecore.Foundation.ClaimsSecurity" patch:after="processor[@type='Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel']" />
      </providers>
    </authentication>
    <switchingProviders>
      <authentication>
        <map provider="forms" storeFullNames="true" wildcard="%" domain="sitecore" />
        <map provider="forms" storeFullNames="true" wildcard="%" domain="default" />
        <map provider="claims" storeFullNames="true" wildcard="%" domain="extranet" />
      </authentication>
    </switchingProviders>
  </sitecore>
</configuration>