<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Feature.OpenIdConnectRP.IdentityProviderUrl" value="http://localhost:5000" />
      <!-- client_id -->
      <setting name="Sitecore.Feature.OpenIdConnectRP.ClientId" value="sitecore" />
      <!-- response_type -->
      <setting name="Sitecore.Feature.OpenIdConnectRP.ResponseType" value="id_token" />
      <!-- scope -->
      <setting name="Sitecore.Feature.OpenIdConnectRP.Scope" value="openid" />
      <!-- redirect_uri -->
      <setting name="Sitecore.Feature.OpenIdConnectRP.CallbackUrl" value="http://habitat.dev.local/OpenIdConnectLogin" />
      <!-- response_mode -->
      <setting name="Sitecore.Feature.OpenIdConnectRP.ResponseMode" value="form_post" />

      <setting name="Sitecore.Feature.OpenIdConnectRP.LoggedInUrl" value="http://habitat.dev.local/OpenIdConnectLogin" />
    </settings>
  </sitecore>
</configuration>